local.properties
.gradle/
api/build
build/
safe-app/build
safe-app/libs
safe-app-android/build
safe-authenticator/build
safe-authenticator/libs
.DS_Store
.idea/
*.iml
api/*.iml
safe-app/*.iml
safe-app-android/*.iml
safe-app-android/src/nonMock
safe-app-android/src/mock
